attrs==23.1.0
certifi==2024.7.4
charset-normalizer==3.1.0
idna==3.7
jsonschema==4.23.0
jsonschema-spec==0.2.4
lazy-object-proxy==1.9.0
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.1
pathable==0.4.3
pyrsistent==0.19.3
PyYAML==6.0.1
referencing==0.30.2
requests==2.32.4
rfc3339-validator==0.1.4
six==1.16.0
urllib3==2.6.0
